.box {
    padding-top: 80px;
}

.star-center-lg {
    margin: 0 auto;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    max-width: 30rem !important;
}
.star-dark:after {
    background-color: #e1ecf2!important ;
}

.main-title {
    font-size: 1.8rem !important;
}

.margin-top {
    margin-top: 35px;
}

.book-img-box {
    height: 300px;
    padding-left: 25%;
}

.book-info-box {
    font-size: 1.1rem;
    padding-left: 20%;
    margin-bottom: 0!important;
}

.info-text {
    display: inline;
    padding-left: 5px;
}

.synopsis-box {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    padding: 25px;
    text-align: justify;
}

.synopsis-title {
    text-align: center; 
    padding-bottom: 20px;
}

.share {
    display: grid;
    place-items: center;

}

.checked {
    color: orange;
}

.person-name {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

.message-img {
    height: 60px;
    border-radius: 20rem;
    margin-top: 10px;
}

.message-img-wrapper {
    width: 50px!important;
    margin-right: 40px!important;
}

.message {
    background-color: #18bc9c;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 2rem!important;
    padding: .5rem 1rem;
    width: 70%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: #ffffff;
    padding-left: 30px;
    cursor: pointer;
}

.row-person-share {
    position: relative;
    top: 100px;
}

.row-review-share {
    position: relative;
    top: 180px;
    padding-bottom: 100px;
}

.book-img-box-modal {
    height: 70px;
}

.chat-box-modal {
    background-color: #e0eaf3;
    border-radius: 5px;
    height: 100%;
    padding: 25px;
    text-align: justify;
}


/* .modal-person {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    margin: 0 !important;
    animation-name: animatetop!important;
    animation-duration: 0.4s!important;
} */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.person-btn-modal {
    background-color: #18bc9c;
    border-color: #18bc9c;
    border-width: 2px;
    border-radius: 50rem!important;
    cursor: pointer;
    transition: .2s ease;
    width: 25%;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 50rem!important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.person-btn-modal:hover{
    transform: scale(1.1);
    background-color: #16a084;
}

.person-btn-sign {
    color:white;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    vertical-align: baseline;
}