.box {
    padding-top: 80px;
}

.margin-top {
    margin-top: 20px;
}

.synopsis-box {
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    height: 500px;
    padding: 25px;
    text-align: justify;
}

.share {
    display: grid;
    place-items: center;

}

.checked {
    color: orange;
}

.person-name {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

.message-img {
    height: 60px;
    border-radius: 20rem;
    margin-top: 10px;
}

.message-img-wrapper {
    width: 50px!important;
    margin-right: 40px!important;
}

.message {
    background-color: #18bc9c;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 2rem!important;
    padding: .5rem 1rem;
    width: 70%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: #ffffff;
    padding-left: 30px;
    cursor: pointer;
}

.row-person-share {
    position: relative;
    top: 100px;
}

.row-review-share {
    position: relative;
    top: 180px;
    padding-bottom: 100px;
}

.info-text {
    display: inline;
    padding-left: 5px;
}