.box {
    padding-top: 80px;
}

.star-center {
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-top: 1.5rem !important;
}

.star-center-lg {
    margin: 0 auto;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    max-width: 30rem !important;
    padding-bottom: 30px !important;
}
.star-dark:after {
    background-color: #e1ecf2!important ;
}

.main-title {
    font-size: 1.8rem !important;
}

.margin-top {
    margin-top: 35px;
}

.book-img-box {
    height: 300px;
    padding-left: 25%;
}

.book-info-box {
    font-size: 1.1rem;
    padding-left: 25%;
    margin-bottom: 0!important;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.info-text {
    display: inline;
    padding-left: 5px;
}

.synopsis-box {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    text-align: justify;
}

.synopsis-title {
    text-align: center; 
    padding-bottom: 20px;
}

.share {
    display: grid;
    place-items: center;

}

.checked {
    color: orange;
}

.message {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #18bc9c;
    border-radius: 2rem!important;
    color: #ffffff;
    margin-bottom: 30px;
    transition: .2s ease;
}

.person-img {
    width: 10%;
    vertical-align: middle;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20rem;
}

.person-info {
    padding-left: 5%;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.person-name {
    font-weight: 600;
    font-size: 20px;
}

.row-person-share {
    position: relative;
    top: 100px;
}

.row-review-share {
    position: relative;
    top: 180px;
    padding-bottom: 100px;
}

.no-content {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}