.box {
    padding-top: 80px;
}

.star-center {
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-top: 1.5rem !important;
}

.star-center-lg {
    margin: 0 auto;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    max-width: 30rem !important;
    padding-bottom: 30px !important;
}
.star-dark:after {
    background-color: #e1ecf2!important ;
}

.main-title {
    font-size: 1.8rem !important;
}

.margin-top {
    margin-top: 35px;
}

.book-img-box {
    height: 300px;
    padding-left: 25%;
}

.book-info-box {
    font-size: 1.1rem;
    padding-left: 25%;
    margin-bottom: 0!important;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.info-text {
    display: inline;
    padding-left: 5px;
}

.synopsis-box {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    text-align: justify;
}

.synopsis-title {
    text-align: center; 
    padding-bottom: 20px;
}

.share {
    display: grid;
    place-items: center;

}

.checked {
    color: orange;
}

.message {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #18bc9c;
    border-radius: 2rem!important;
    color: #ffffff;
    margin-bottom: 30px;
    transition: .2s ease;
}

.compatible-li{
    transition: .2s ease;
}

.compatible-li:hover{
    background-color: #077962;
    cursor: pointer;
}

.person-img {
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.person-info {
    padding-left: 5%;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.person-name {
    font-weight: 600;
    font-size: 20px;
}

.row-person-share {
    position: relative;
    top: 100px;
}

.row-review-share {
    position: relative;
    top: 180px;
    padding-bottom: 100px;
}

.no-content {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.wishlist {
    position: static !important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20px;
}

.add-btn {
    position: absolute;
    left: 70%;
    background-color: #18bc9c;
    border-color: #18bc9c;
    border-width: 2px;
    border-radius: 50rem!important;
    cursor: pointer;
    transition: .2s ease;
}

.add-btn:hover{
    transform: scale(1.1);
    background-color: #16a084;
}

.add-btn-sign {
    color:white;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    vertical-align: baseline;
}

.modal-book {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.model-info {
    text-align: left;
    margin-bottom: 20px;
}

.model-input{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    width: 100%;
    height: 150%;
}

.add-btn-modal {
    background-color: #18bc9c;
    border-color: #18bc9c;
    border-width: 2px;
    border-radius: 50rem!important;
    cursor: pointer;
    transition: .2s ease;
    width: 40%;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 50rem!important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.add-btn-modal:hover{
    transform: scale(1.1);
    background-color: #16a084;
}

.star-dark-modal {
    border-color: #2c3e50;
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: .25rem solid;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.star-dark-modal:after {
    color: #2c3e50;
    background-color: #fff;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: "\f005";
    font-family: FontAwesome;
    font-size: 2em;
}

.widget-26-availability {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
    margin-left: 25%;
}

.bg-soft-success {
    background-color: #d1f6f2;
}

.indicator {
    width: 13px;
    height: 13px;
    margin-right: .5rem;
    margin-top: .3rem;
    float: left;
    border-radius: 50%;
}

.bg-success {
    background-color: #28a745!important;
}

.bg-soft-danger {
    background-color: #fedce0;
}

.bg-danger {
    background-color: #dc3545!important;
}

.text-green {
    color: #28a745;
    font-weight: 600;
}

.text-red {
    color: #dc3545;
    font-weight: 600;
}

.review-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 8%;
    margin: 20px;
    border-radius: 20rem;
    object-fit: cover;
}

.review-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 26px;   
    margin-bottom: auto;
    margin-left: 20px;
}

.review-text {
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: justify;
}

.trade-row{
    transition: .2s ease;
}

.trade-row:hover{
    background-color: #18bc9c;
    cursor: pointer;
}

.trade-arrows{
    text-align: center;
}

.trade-arrows img{
    width: 60%;
}

.trade-img img{
    height: 150px!important;
    margin: 25%;
}

.continue-button {
    background-color: #18bc9c;
    border-radius: 50rem!important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 300px;
    margin: 40px;
    transition: .5s ease;
}
.continue-button:focus{
    outline:none!important;
}

.continue-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}