body{
    background: none!important;
}

html{
    background-image: url("../img/shelf.jfif");
}

.hidden{
    display: none;
}

.eco-rep-back {
    padding-top: 8rem;
    padding-bottom: 5rem;
    height: 100%;
    width: 100%;
}

.eco-rep-back .eco-rep-back-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: white;
}

.eco-rep-content {
    display: inline-block;
}

.eco-rep-button {
    background-color: #18bc9c;
    border-radius: 50rem!important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 300px;
    margin: 40px;
    transition: .5s ease;
}
.eco-rep-button:focus{
    outline:none!important;
}

.eco-rep-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.eco-rep-button:disabled,
.eco-rep-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding:2px 4px;
        font-size:80%;
        line-height: 1;
        border-radius:3px;
    }
}
  
@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding:4px 9px;
        font-size:90%;
        line-height: 1.2;
    }
}

.li-element{
    padding: 15px;
}

.donate-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #18bc9c; 
    border-radius: 2rem!important; 
    color: #ffffff;
    cursor: pointer;
    transition: .2s ease;
}

.donate-element-selected{
    background-color:#077962;
}

.donate-element-selected:hover {
    background-color:#065848!important;
}

.donate-element:hover{
    background-color:#16a186;
}

.donate-li-checkbox{
    margin: 3%!important;
}

.donate-li-img{
    width: 8%;
    vertical-align: middle;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donate-li-text{
    padding-left: 10%;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.mystery-img{
    opacity: 1;
    border: 3px solid #134e13;
    transition: .5s ease;
    width: 50%;
    height: 50%;
}

.mystery-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.random-img-container{
    display: inline-block;
    padding-top: 20px; 
    height: 400px; 
    width: 400px;
}

.random-img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

.back-button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch{
    width: 20%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

.switch-author{
    width: 50%;
}

.switch-category{
    width: 50%;
}

.switch-category:hover{
    cursor: pointer;
}

.switch-author:hover{
    cursor: pointer;
}

.active-param{
    background-color: #18bc9c;
    color: white;
}

.active-form{
    width: 100%;
    height: 100%;
    color: white;
}

.form-container{
    margin: 2rem;
}