.tendencias {
    font-size: 2rem;
    font-weight: 700;
}

.wrapper-tendencias {
    margin: 0 auto;
    width: 100%;
    position:absolute;
    z-index: 1;
    padding-top: 25px;
}

.carousel-book {
    margin-top: 100px;
    height: 70%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: grey;
}