.profile {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #18bc9c;
    padding-left: 100px !important;
    padding-right: 35px !important;
}

.profile-pic{
    width: 250px!important;
    height: 250px!important;
    border-radius: 50%;
    object-fit: cover;
}

.main_container{
    padding: 0 !important;
}

.star-center {
    margin: 0 auto;
    margin-top: 2.5rem;
}

.star-center-lg {
    margin: 0 auto;
    margin-top: 2.5rem;
    max-width: 30rem !important;
}

.points-box {
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 50rem!important;
    padding: .5rem 1rem;
    width: 50%;
    text-align: center;
}

.edit-details-btn {
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 50rem!important;
    padding: .5rem 1rem;
    width: 25%;
    font-size: 1.25rem;
    font-weight: 600;
    color:#2c3e50;
    cursor: pointer;
    text-align: center;
    transition: .2s ease;
}

.edit-details-btn:hover { 
    transform: scale(1.1);
    background-color: #d3d3d3;
}

.points-text {
    font-size: 1.25rem;
    font-weight: 550;
    color: #2c3e50;
}

.points-number {
    font-size: 1.45rem;
    font-weight: 700;
    color: #2c3e50;
}

.user-info{
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 50rem!important;
    padding: .5rem 1rem;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.user-info-text{
    font-size: 1.45rem;
    font-weight: 500;
    color: #18bc9c;
}

.user-info-label {
    text-align: left;
    margin-right: 5px;
    font-size: 1.45rem;
    font-weight: 700;
    color: #5f7083;
}

.message {
    background-color: #18bc9c;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 2rem!important;
    padding: .5rem 1rem;
    width: 70%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: #ffffff;
    padding-left: 30px;
    cursor: pointer;
    transition: .2s ease;
}

.message:hover {
    background-color: #16a084;
}

.message-img {
    height: 60px;
    border-radius: 20rem;
    margin-top: 10px;
}

.message-img-wrapper {
    width: 50px!important;
    margin-right: 40px!important;
}

.message-name {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

.add-btn {
    position: absolute;
    left: 78%;
    background-color: #18bc9c;
    border-color: #18bc9c;
    border-width: 2px;
    border-radius: 50rem!important;
    cursor: pointer;
    transition: .2s ease;
}

.add-btn:hover{
    transform: scale(1.1);
    background-color: #16a084;
}

.add-btn-sign {
    color:white;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    vertical-align: baseline;
}

.add-btn-modal {
    background-color: #18bc9c;
    border-color: #18bc9c;
    border-width: 2px;
    border-radius: 50rem!important;
    cursor: pointer;
    transition: .2s ease;
    width: 25%;
    border-width: 2px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 50rem!important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.add-btn-modal:hover{
    transform: scale(1.1);
    background-color: #16a084;
}

.modal-content{
    margin: 0 !important;
    animation-name: animatetop!important;
    animation-duration: 0.4s!important;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.model-info {
    text-align: left;
    margin-bottom: 20px;
}

.model-label {
    text-align: left;
    font-size: 1.45rem;
    font-weight: 700;
    color: #5f7083;
}

.model-input{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    width: 76%;
}

.model-select {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    width: 76%;
}

.book{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #18bc9c; 
    border-radius: 2rem!important; 
    color: #ffffff;
    margin-bottom: 30px;
    transition: .2s ease;
}

.book-info {
    padding-left: 10%;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.book-img {
    width: 60%;
    vertical-align: middle;
    margin-left: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-name {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}

.book-text {
    font-weight: 500;
    font-size: 1rem;
}

.book-name:hover {
    color: #ffffff;
}

.trash-book{
    left: 80%;
    color: #5e5e5e;
    width: 1%;
    transition: .2s ease;
    cursor: pointer;
}

.trash-book:hover{
    color: #ffffff;
}

.no-content {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.no-content-info {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.modal-profile {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}